[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
